.input-wrapper {
  overflow-wrap: break-word;
  label {
    margin-bottom: 0.75rem;

    font: var(--text-xs);
    color: var(--text-body);
  }

  input {
    box-sizing: border-box;
    height: 3rem;
    width: 100%;

    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;

    background-color: var(--input-base);

    padding-inline: 1rem;

    font: var(--text-md);
    color: var(--text-body);
  }
}

input[type="date"] {

  &::-webkit-calendar-picker-indicator {
    display: none;

    -webkit-appearance: none;
  }


}